<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="com.ani.rest.restdemos.domain.Car" scope="prototype">
        <property name="crNm" ref="nm"/>
        <property name="crCst" value="2.5"/>
    </bean>

    <bean class="java.lang.String" id="nm">
        <constructor-arg>
            <value> hi </value>
        </constructor-arg>
    </bean>

</beans>